.featured {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  &-article {
    z-index: 1;
    position: relative;
    overflow: hidden;
    display: block;
    width: 49%;
    height: 0;
    padding-top: 49%;
    margin-top: 2%;
    @include media-breakpoint-up(md) {
      width: 24%;
      margin-top: 0;
      padding-top: 18%;
    }
    &::after {
      z-index: -1;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba($body-color, 0.1), rgba($body-color, 0.9));
    }
    &-new {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      box-sizing: border-box;
      background-color: $primary;
      color: $white;
      font-weight: bold;
      font-size: $font-size-sm;
      line-height: 1;
      padding: 0.3rem 0.8rem;
    }
    img {
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    h3 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      color: $white;
      font-weight: bold;
      font-size: $font-size-sm;
      margin: 0;
      padding: 0.5rem;
    }
    &:first-child {
      width: 100%;
      margin-top: 0;
      @include media-breakpoint-up(md) {
        width: 24%;
      }
    }
    &:last-child {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }
}
