.btn {
  &-light {
    position: relative;
    background-color: $white;
    text-align: left;
    color: $body-color;
    font-weight: bold;
    padding: 1em;
    &::after {
      content: "";
      display: block;
      width: 0.5em;
      height: 0.5em;
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%) rotate(45deg);
      border-top: solid 2px $body-color;
      border-right: solid 2px $body-color;
    }
  }
}
