.navbar {
  &-brand {
    font-size: 0;
    img {
      max-width: 40vw;
    }
  }
  h1 {
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: normal;
    @include media-breakpoint-up(md) {
      font-size: $font-size-sm;
    }
  }
}
