.modal {
  &-content {
    background-color: transparent;
    border: 0;
  }
  &-header {
    border: 0;
    padding: 0 0.5rem 0.5rem;
    .close {
      color: $white;
      text-shadow: none;
      opacity: 1;
    }
  }
  &-footer {
    background-color: $white;
    border: 0;
  }
  &-body {
    background-color: $white;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    &-title {
      font-weight: bold;
      margin: 0;
      font-size: 1rem;
      box-sizing: border-box;
      padding-left: 1rem;
      border-left: solid 3px $info;
      margin-bottom: 1em;
    }
  }
  .nav {
    &-tabs {
      border: 0;
      .nav-link {
        border: 0;
        font-size: $font-size-sm;
        color: $body-color;
        font-weight: bold;
        &.active {
          background-color: $light;
        }
      }
    }
  }
  .tab-content {
    background-color: $light;
    padding: 1rem;
  }
}
