.mv {
  overflow: hidden;
  padding: 4rem 0;
  background-image: url("../images/mv_bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    text-align: center;
    span {
      position: relative;
      display: inline-block;
      color: $white;
      font-size: 1.375rem;
      line-height: 1.5;
      margin: 0;
      text-shadow: 0 0 5px rgba($body-color, 0.5);
      img {
        position: absolute;
        top: 85%;
        transform: translateY(-50%);
        &:first-of-type {
          left: -1.25em;
        }
        &:last-of-type {
          right: -1.25em;
        }
      }
    }
  }
}
