.search {
  &__area {
    box-sizing: border-box;
    padding: 1.25rem;
    background-color: $white;
    border-radius: 0.5rem;
    margin-top: -2.5rem;
    h3 {
      font-size: $font-size-sm;
      font-weight: bold;
      margin-bottom: 1em;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0.5rem 0.5rem 0;
        a {
          display: inline-block;
          vertical-align: middle;
          box-sizing: border-box;
          padding: 5px 8px;
          font-size: $font-size-sm;
          color: $body-color;
          line-height: 1;
          background-color: $light;
          border: solid 1px $light;
        }
      }
    }
  }
  &__genre {
    margin: 2rem 0 0;
    box-sizing: border-box;
    h3 {
      font-size: $font-size-sm;
      font-weight: bold;
      margin: 0;
      padding: 0.8rem 0;
      border-bottom: solid 1px $secondary;
    }
    &-list {
      box-sizing: border-box;
      padding: 1rem 0 1rem 1rem;
      overflow-x: scroll;
      overflow-y: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      @include media-breakpoint-up(md) {
        max-width: 960px;
        margin: 0 auto;
      }
      @include media-breakpoint-up(lg) {
        max-width: 1140px;
      }
      ul {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        li {
          display: inline-block;
          vertical-align: middle;
          box-sizing: border-box;
          max-width: 24vw;
          margin-right: 0.5rem;
          font-size: 0;
          img {
            display: block;
            margin: 0 auto;
          }
          span {
            display: block;
            margin: 0.5rem auto 0;
            font-size: 12px;
            line-height: 1;
            text-align: center;
          }
        }
      }
    }
  }
  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    & > * {
      width: 100%;
      .btn {
        width: 100%;
      }
    }
  }
  &__result {
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: start;
      align-items: stretch;
      flex-wrap: wrap;
    }
    .shop-buzz__list-inner {
      @include media-breakpoint-up(md) {
        width: 24%;
        display: block;
        margin-right: calc(4% / 3);
        margin-bottom: 3%;
      }
      &:nth-child(4n) {
        @include media-breakpoint-up(md) {
          margin-right: 0;
        }
      }
      &:last-child {
        @include media-breakpoint-up(md) {
          margin-bottom: 3%;
        }
      }
    }
    &__inner {
      overflow: hidden;
      box-sizing: border-box;
      margin-bottom: 1rem;
      @include media-breakpoint-up(md) {
        width: 33%;
      }
      &:nth-child(3n + 2) {
        @include media-breakpoint-up(md) {
          margin-right: 0.5%;
          margin-left: 0.5%;
        }
      }
      a {
        color: $body-color;
        display: block;
        &:hover {
          text-decoration: none;
        }
      }
      &__wrap {
        box-sizing: border-box;
        padding: 1rem;
      }
      &-thumbnail {
        display: block;
        font-size: 0;
        margin: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
      &-name {
        font-weight: bold;
        font-size: 1rem;
        margin: 0 0 $font-size-sm;
      }
      &-info {
        margin: 0;
        span {
          display: block;
          font-size: $font-size-sm;
          &::before {
            content: "\f02c";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: $info;
            margin-right: 0.5rem;
          }
          &:last-child {
            &::before {
              content: "\f277";
            }
          }
        }
      }
      &-time {
        margin: $font-size-sm 0 0;
        color: #5d5d5d;
        font-size: 12px;
      }
      &-btn {
        margin-top: 1rem;
        .btn {
          width: 100%;
          border-radius: 0;
          padding: $font-size-sm;
          font-size: $font-size-sm;
          font-weight: bold;
        }
      }
    }
  }
  &-form {
    .form-check-label {
      font-size: $font-size-sm;
    }
  }
}
