.sidebar {
  &-inner {
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
    h3 {
      font-size: 1rem;
      font-weight: bold;
      margin: 0 0 1rem;
    }
  }
  &__posts {
    &-article {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: nowrap;
      color: $body-color;
      margin-bottom: 1.5rem;
      &:last-child {
        margin-bottom: 0;
      }
      &-thumbnail {
        width: 25%;
        overflow: hidden;
        font-size: 0;
        img {
          width: 100%;
        }
      }
      &-txt {
        width: 70%;
        h4 {
          font-size: $font-size-sm;
          margin: 0;
          font-weight: bold;
        }
        time {
          margin-top: 0.5rem;
          display: block;
          font-size: 12px;
          line-height: 1;
        }
      }
    }
  }
}
